* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 20px 0 0;
  background: radial-gradient(circle, #173260, #031322);
}

.navbar {
  margin: 20px 0 0;
  background: #9ab8d5;
}